body {
  background-image: url(./img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  width: 1024px;
  height: 768px;
  position: relative;
  padding: 40px;
  box-sizing: auto;
}

.logo {
  position: absolute;
  top: 30px;
  left: 30px;
}

.logo img {
  height: 50px;
}

.title {
  font-family: "Outfit", sans-serif;
  font-size: 60px;
  margin-top: 150px;
  margin-bottom: 10px;
  color: whitesmoke;
}

.subtitle {
  font-family: "Outfit", sans-serif;
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  color: whitesmoke;
}

.instructions {
  color: #d20094;
  font-weight: bold;
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.details {
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 1.5;
  color: whitesmoke;
}

.details ul {
  padding-left: 20px;
  margin: 0;
  color: whitesmoke;
}

.checkbox {
  display: flex;
  align-items: center;
  margin-top: 20px;
  color: whitesmoke;
}

.checkbox input {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.default-button {
  margin-top: 30px;
  background: gray;
  border: none;
  padding: 15px 40px;
  font-size: 24px;
  font-weight: bold;
  color: #0d1025;
  margin-right: auto;
}

.proceed-button {
  margin-top: 30px;
  background: #00ffff;
  box-shadow: 0 0 10px 2px #00ffff;
  border: none;
  padding: 15px 40px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  color: #0d1025;
  margin-right: auto;
}

.proceed-button:hover {
  background-color: #00e5e5;
}

/* css Question page */

.core {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  height: 40vh;
  width: 100%;
}
.logo_q {
  margin-top: 20vh;
  margin-left: 20vh;
  width: 13%;
  height: 17%;
}

.question {
  display: flex;
  height: 20vh;
  width: 100%;
  justify-content: center;
  color: white;
}
.container_answer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 40%;
  margin-left: 30%;
  margin-right: 50%;
  height: 40vh;
}
.answer_input {
  color: white;
  width: 32vh;
  height: 9vh;
  border-radius: 35%;
  background-color: transparent;
  border-top: solid 2px rgb(255, 255, 255);
  border-right: solid 1px white;
  border-left: solid 1px white;
  border-bottom: solid 0.5px rgba(206, 196, 196, 0.293);
  cursor: pointer;
}
.question_number {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.question_number h2 {
  color: white;
  text-align: center;
}
.question_number h2 span {
  color: #d20094;
}
.answer_input:hover {
  background-color: #d200939a;
}
.tempo {
  border-radius: 50%;
}

/*inizio il css del timer*/

.timer {
  position: fixed;
  top: 100px;
  right: 200px;
  width: 120px;
  height: 120px;
}

.circle {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: conic-gradient(
    rgba(2, 245, 229, 0.932) 0%,
    rgba(2, 245, 229, 0.932) var(--progress),
    transparent var(--progress),
    transparent 100%
  );
}

.inside-circle {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
}
/*fine css timer*/

/*css domande*/
h1 {
  color: white;
  text-align: center;
}

p {
  color: white;
}
.final-score h2 {
  color: white;
}
